/* Global Styles */
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

.alert {
    margin: 10px 0 5px 0;
}



/* Groups Selector */
#group-selector {
    margin-top: 10px;
}

#group-selector label {
    line-height: calc(1.5em + .75rem + 2px);
}

/* Table Styles */
.table td {
    vertical-algin: middle;
}

/* Form Styles */
textarea,
select,
input,
.custom-file,
.input-group {
  max-width: 300px;
}

/* Footer Styles */
#footer {
    border-top: 1px solid #dee2e6;
    padding-top: 10px;
}


