{% extends "students/base.html" %}
{% load static %}

{% block meta_title %} Группи {% endblock meta_title %}
{% block title %} База Групп {% endblock title %}
{% block logo %} Сервис Учета Групп {% endblock logo %}
{% block groups %}
    {% for group in groups %}
        <option value="#">{{ group.title }}</option>
    {% endfor %}
{% endblock groups %}

{% block content %}
                    <!-- Add Student Button -->
                    <a class="btn btn-primary mb-3" href="{% url 'groups_add' %}" role="button">
                        Добавить Группу
                    </a>
                    <!-- Start Students Listing -->
                    <table class="table table-hover table-striped">
                        {% with order_by=request.GET.order_by reverse=request.GET.reverse %}
                            <thead>
                                <tr>
                                    <th>
                                        <a href="{% url 'groups' %}?order_by=id{% if order_by == 'id' and reverse != '1' %}&amp;reverse=1 {% endif %}">
                                        №
                                        {% if order_by == 'id' and reverse != '1' %}&uarr;
                                        {% elif order_by == 'id' and reverse == '1' %}&darr;
                                        {% endif %}
                                        </a>
                                    </th>
                                    <th>
                                        <a href="{% url 'groups' %}?order_by=title{% if order_by == 'title' and reverse != '1' %}&amp;reverse=1 {% endif %}">
                                            Название
                                            {% if order_by == 'title' and reverse != '1' %}&uarr;
                                            {% elif order_by == 'title' and reverse == '1' %}&darr;
                                            {% elif order_by == '' %}&uarr;
                                            {% endif %}
                                        </a>
                                    </th>
                                    <th>
                                        <a href="{% url 'groups' %}?order_by=leader{% if order_by == 'leader' and reverse != '1' %}&amp;reverse=1 {% endif %}">
                                            Староста
                                            {% if order_by == 'leader' and reverse != '1' %}&uarr;
                                            {% elif order_by == 'leader' and reverse == '1' %}&darr;
                                            {% endif %}
                                        </a>
                                    </th>
                                    <th>Действие</th>
                                </tr>
                            </thead>
                        {% endwith %}
                        <tbody>
                            {% for group in groups  %}
                                <tr>
                                    <td>{{ group.id }}</td>
                                    <td><a href="{% url 'groups_edit' group.title %}">{{ group.title }}</a></td>
                                    <td><a href="{% url 'students_edit' group.id %}">{{ group.leader }}</a></td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Действия
                                            </button>
                                            <div class="dropdown-menu" >
                                                <a class="dropdown-item" href="{% url 'groups_edit' group.title %}">Редактировать</a>
                                                <a class="dropdown-item" href="#">Посещения</a>
                                                <a class="dropdown-item" href="{% url 'groups_delete' group.title %}">Удалить</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                <!-- End Groups Listing -->

                <!-- Start Groups Pagination -->
                {% block pagination %}
                    {% if groups.has_other_pages %}
                      {% with order_by=request.GET.order_by reverse=request.GET.reverse %}
                        <nav aria-label="Page navigation">
                          <ul class="pagination">
                            <li class="page-item">
                              <a class="page-link" href="{% url 'groups' %}?page=1&amp;order_by={{ order_by }}&amp;reverse={{ reverse }}">&laquo;</a>
                            </li>
                            {% for p in groups.paginator.page_range %}
                                <li class="page-item {% if groups.number == p %} active {% endif %}">
                                    <a class="page-link"  href="{% url 'groups' %}?page={{ p }}&amp;order_by={{ order_by }}&amp;reverse={{ reverse }}">{{ p }}</a>
                                </li>
                            {% endfor %}
                            <li class="page-item">
                              <a class="page-link" href="{% url 'groups' %}?page={{ groups.paginator.num_pages }}&amp;order_by={{ order_by }}&amp;reverse={{ reverse }}">&raquo;</a>
                            </li>
                          </ul>
                        </nav>
                      {% endwith %}
                    {% endif %}
                {% endblock pagination %}
                <!-- End Groups Pagination -->
{% endblock content %}