{% extends "students/base.html" %}
{% load static %}

{% block meta_title %} Группи {% endblock meta_title %}
{% block title %} База Групп {% endblock title %}
{% block logo %} Сервис Учета Групп {% endblock logo %}

{% block content %}
                    <!-- Add Student Button -->
                    <a class="btn btn-primary mb-3" href="{% url 'groups_add' %}" role="button">
                        Добавить Группу
                    </a>
                    <!-- Start Students Listing -->
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th><a href="#">№</a></th>
                                <th><a href="#">Название</a></th>
                                <th><a href="#">Староста</a></th>
                                <th>Действие</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for student in students  %}
                                <tr>
                                    <td>{{ forloop.counter}}</td>
                                    <td><a href="{% url 'groups_edit' student.group %}">{{ student.group }}</a></td>
                                    <td><a href="{% url 'students_edit' student.id %}">{{ student.last_name }} {{ student.first_name }}</a></td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Действия
                                            </button>
                                            <div class="dropdown-menu" >
                                                <a class="dropdown-item" href="{% url 'groups_edit' student.group %}">Редактировать</a>
                                                <a class="dropdown-item" href="#">Посещения</a>
                                                <a class="dropdown-item" href="{% url 'groups_delete' student.group %}">Удалить</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation example">
                      <ul class="pagination">
                        <li class="page-item">
                          <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                          </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">4</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">5</a>
                        </li>
                        <li class="page-item">
                          <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                          </a>
                        </li>
                      </ul>
                    </nav>
                    <!-- End Students Listing -->
{% endblock content %}