{% extends "students/base.html" %}
{% load static %}

{% block meta_title %} Студенты {% endblock meta_title %}
{% block title %} База Студентов {% endblock title %}

{% block content %}
  <a class="btn btn-primary mb-3" href="{% url 'students_add' %}" >
    Добавить студента
  </a>
  <!-- Start Students Listing -->
  <table class="table table-hover table-striped">
    {% with order_by=request.GET.order_by reverse=request.GET.reverse %}
      <thead>
        <tr>
          <th>
            <a href="{% url 'home' %}?order_by=id{% if order_by == 'id' and reverse != '1' %}&amp;reverse=1 {% endif %}">
              №
              {% if order_by == 'id' and reverse != '1' %}&uarr;
              {% elif order_by == 'id' and reverse == '1' %}&darr;
              {% endif %}
            </a>
          </th>
          <th>Фото</th>
          <th>
            <a href="{% url 'home' %}?order_by=last_name{% if order_by == 'last_name' and reverse != '1' %}&amp;reverse=1{% endif %}">
              Фамилия
              {% if order_by == 'last_name' and reverse != '1' %}&uarr;
              {% elif order_by == 'last_name' and reverse == '1' %}&darr;
              {% elif order_by == '' %}&uarr;
              {% endif %}
            </a>
          </th>
          <th>
            <a href="{% url 'home' %}?order_by=first_name{% if order_by == 'first_name' and reverse != '1' %}&amp;reverse=1{% endif %}">
              Имя
              {% if order_by == 'first_name' and reverse != '1' %}&uarr;
              {% elif order_by == 'first_name' and reverse == '1' %}&darr;
              {% endif %}
            </a>
          </th>
          <th>
            <a href="{% url 'home' %}?order_by=ticket{% if order_by == 'ticket' and reverse != '1' %}&amp;reverse=1{% endif %}">
              № Билет
              {% if order_by == 'ticket' and reverse != '1' %}&uarr;
              {% elif order_by == 'ticket' and reverse == '1' %}&darr;
              {% endif %}
            </a>
          </th>
          <th>Действие</th>
        </tr>
      </thead>
    {% endwith %}
    <tbody>
      {% for student in students %}
        <tr>
          <td>{{ student.id }}</td>
          <td>
            {% if student.photo %}
              <img src="{{ student.photo.url }}" height="35" width="35" class="rounded-circle">
            {% else %}
              <img src="{% static 'img/default_user.png' %}" height="35" width="35" class="rounded-circle">
            {% endif %}
        </td>
          <td><a href="{% url 'students_edit' student.id %}">{{ student.last_name }}</a></td>
          <td><a href="{% url 'students_edit' student.id %}">{{ student.first_name }}</a></td>
          <td>{{ student.ticket }}</td>
          <td>
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"  >
                Действия
              </button>
              <div class="dropdown-menu" >
                <a class="dropdown-item" href="{% url 'students_edit' student.id %}">Редактировать</a>
                <a class="dropdown-item" href="/journal/{{ student.id }}">Посещения</a>
                <a class="dropdown-item" href="{% url 'students_delete' student.id %}">Удалить</a>
              </div>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

	{% include "pagination.html" %}
  <!-- End Students Listing -->
{% endblock content %}
