{% extends "students/base.html" %}
{% load static %}

{% block meta_title %} Добавить Студента {% endblock meta_title %}

{% block title %} Добавить Студента {% endblock title %}

{% block content %}
<form action="{% url 'students_add' %}" method="post"  enctype="multipart/form-data">
	{% csrf_token %}

	<div class="form-group row {% if errors.first_name %}has-error{% endif %}">
		<label for="first_name" class="col-sm-2 col-form-label">Имя*</label>
		<input type="text" value="{{ request.POST.first_name }}" name="first_name" id="first_name" placeholder="Введите ваше имя">
		<span class="text-muted">{{ errors.first_name }}</span>
	</div>

	<div>
		<label for="last_name">Фамилия*</label>
		<input type="text" value="{{ request.POST.last_name }}" name="last_name" id="last_name" placeholder="Введите вашу фамилию">
		<span class="text-muted">{{ errors.last_name }}</span>
	</div>

	<div>
		<label for="middle_name">Отчество</label>
		<input type="text" value="{{ request.POST.middle_name }}" name="middle_name" id="middle_name" placeholder="Введите ваше отчество">
	</div>

	<div>
		<label for="birthday">Дата рождения*</label>
		<input type="text" value="{{ request.POST.birthday }}" name="birthday" id="birthday" placeholder="Напр. 1984-12-30">
		<span class="text-muted">{{ errors.birthday }}</span>
	</div>

	<div>
		<label for="photo">Фото</label>
		<input type="file" value="" name="photo" id="photo">
	</div>

	<div>
		<label for="ticket">Билет*</label>
		<input type="text" value="{{ request.POST.ticket }}" name="ticket" id="ticket" placeholder="Введите ваш номер билета">
		<span class="text-muted">{{ errors.ticket }}</span>
	</div>

	<div>
		<label for="student_group">Группа*</label>
		<select name="student_group" id="student_group">
			<option value="">Виберите группу</option>
			{% for group in groups %}
				<option value="{{ group.id }}" {% if group.id == request.POST.student_group|add:0 %}selected="selected"{% endif %}>{{ group.title }}</option>
			{% endfor %}
		</select>
		<span class="text-muted">{{ errors.student_group }}</span>
	</div>

	<div>
		<label for="notes">Добавте заметки</label>
		<textarea name="notes" id="notes" class="form-control"></textarea>
	</div>

	<div>
		<input type="submit" value="Добавить" name="add_button">
		<button type="submit" name="cancel_button">Отменить</button>
	</div>

</form>
{% endblock content %}
